loguru>=0.7.0
sqlalchemy>=1.4.0
psycopg2-binary
Telethon>=1.0.0
cryptg # For faster download. See https://docs.telethon.dev/en/stable/modules/client.html#telethon.client.downloads.DownloadMethods.download_media
